<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @holiday.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @holiday.date %>
</p>

<p>
  <strong>Bank holiday:</strong>
  <%= @holiday.bank_holiday %>
</p>

<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>
