<table>
	
	<tr>
		<td><%= @shift.user.role %></td>
		<td>
			<%= @shift.user.first_name %> <%= @shift.user.last_name %>
		</td>
	</tr>

	<tr>
		<td>Phone</td>
		<td><%= @shift.user.phone %></td>
	</tr>

	<tr>
		<td>Care Home</td>
		<td><%= @shift.care_home.name %></td>
	</tr>

	<tr>
		<td>Address</td>
		<td>
			<%= @shift.care_home.address %>, 
			<%= @shift.care_home.town %>,
			<%= @shift.care_home.postcode %>	
		</td>
	</tr>

	<tr>
		<td>Start</td>
		<td><%= @shift.start_date.to_s(:custom_datetime) if @shift.start_date %></td>
	</tr>

	<tr>
		<td>End</td>
		<td><%= @shift.end_date.to_s(:custom_datetime) if @shift.end_date %></td>
	</tr>

</table>