<table>
	
	<tr>
		<td><%= User %></td>
		<td>
			<%= @user_doc.user.first_name %><%= @user_doc.user.last_name %>
		</td>
	</tr>

	<tr>
		<td>Document Id</td>
		<td><%= @user_doc.id %></td>
	</tr>

	<tr>
		<td>Document Type</td>
		<td><%= @user_doc.doc_type %></td>
	</tr>

	<tr>
		<td>Name</td>
		<td><%= @user_doc.name %></td>
	</tr>


</table>