<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Partner <%=@care_home.name%>, has been claimed by <%= @user.first_name %> <%= @user.last_name %> </h2>
    <p>
    	Please add this user to the list of care home admins.
    	The user Id is <%= @user.id %> and the Partner Id is <%= @care_home.id %>
	</p>
  </body>
</html>