<table>
	
	<tr>
		<td><%= @staffing_response.role %></td>
		<td>
			<%= @staffing_response.user.first_name %><%= @staffing_response.user.last_name %>
		</td>
	</tr>

	<tr>
		<td>Phone</td>
		<td><%= @staffing_response.user.phone %></td>
	</tr>

	<tr>
		<td>Care Home</td>
		<td><%= @staffing_response.care_home.name %></td>
	</tr>

	<tr>
		<td>start</td>
		<td><%= @staffing_response.start_date %></td>
	</tr>

	<tr>
		<td>End</td>
		<td><%= @staffing_response.end_date %></td>
	</tr>

</table>