<%= form_for(cqc_record) do |f| %>
  <% if cqc_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cqc_record.errors.count, "error") %> prohibited this cqc_record from being saved:</h2>

      <ul>
      <% cqc_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :aka %>
    <%= f.text_field :aka %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :service_types %>
    <%= f.text_area :service_types %>
  </div>

  <div class="field">
    <%= f.label :services %>
    <%= f.text_area :services %>
  </div>

  <div class="field">
    <%= f.label :local_authority %>
    <%= f.text_field :local_authority %>
  </div>

  <div class="field">
    <%= f.label :region %>
    <%= f.text_field :region %>
  </div>

  <div class="field">
    <%= f.label :cqc_url %>
    <%= f.text_field :cqc_url %>
  </div>

  <div class="field">
    <%= f.label :cqc_location %>
    <%= f.text_field :cqc_location %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
