<p id="notice"><%= notice %></p>

<h1>Cqc Records</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Aka</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Service types</th>
      <th>Services</th>
      <th>Local authority</th>
      <th>Region</th>
      <th>Cqc url</th>
      <th>Cqc location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cqc_records.each do |cqc_record| %>
      <tr>
        <td><%= cqc_record.name %></td>
        <td><%= cqc_record.aka %></td>
        <td><%= cqc_record.address %></td>
        <td><%= cqc_record.postcode %></td>
        <td><%= cqc_record.phone %></td>
        <td><%= cqc_record.website %></td>
        <td><%= cqc_record.service_types %></td>
        <td><%= cqc_record.services %></td>
        <td><%= cqc_record.local_authority %></td>
        <td><%= cqc_record.region %></td>
        <td><%= cqc_record.cqc_url %></td>
        <td><%= cqc_record.cqc_location %></td>
        <td><%= link_to 'Show', cqc_record %></td>
        <td><%= link_to 'Edit', edit_cqc_record_path(cqc_record) %></td>
        <td><%= link_to 'Destroy', cqc_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cqc Record', new_cqc_record_path %>
