<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cqc_record.name %>
</p>

<p>
  <strong>Aka:</strong>
  <%= @cqc_record.aka %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cqc_record.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @cqc_record.postcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @cqc_record.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @cqc_record.website %>
</p>

<p>
  <strong>Service types:</strong>
  <%= @cqc_record.service_types %>
</p>

<p>
  <strong>Services:</strong>
  <%= @cqc_record.services %>
</p>

<p>
  <strong>Local authority:</strong>
  <%= @cqc_record.local_authority %>
</p>

<p>
  <strong>Region:</strong>
  <%= @cqc_record.region %>
</p>

<p>
  <strong>Cqc url:</strong>
  <%= @cqc_record.cqc_url %>
</p>

<p>
  <strong>Cqc location:</strong>
  <%= @cqc_record.cqc_location %>
</p>

<%= link_to 'Edit', edit_cqc_record_path(@cqc_record) %> |
<%= link_to 'Back', cqc_records_path %>
