<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Amount</Data></Cell>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Last Name</Data></Cell>
        <Cell><Data ss:Type="String">Carer Bank Account</Data></Cell>
        <Cell><Data ss:Type="String">Carer Sort Code</Data></Cell>
        <Cell><Data ss:Type="String">Care Home</Data></Cell>
        <Cell><Data ss:Type="String">Staffing Request ID</Data></Cell>
        <Cell><Data ss:Type="String">Request Start</Data></Cell>
        <Cell><Data ss:Type="String">Request End</Data></Cell>
        <Cell><Data ss:Type="String">Created At</Data></Cell>
      </Row>
    <% @payments.each do |payment| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= payment.id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= payment.amount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= payment.user.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= payment.user.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= payment.user.bank_account %></Data></Cell>
        <Cell><Data ss:Type="String"><%= payment.user.sort_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= payment.care_home.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= payment.staffing_request.id %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= payment.staffing_request.start_date %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= payment.staffing_request.end_date %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= payment.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>