<%= form_for(agency_care_home_mapping) do |f| %>
  <% if agency_care_home_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agency_care_home_mapping.errors.count, "error") %> prohibited this agency_care_home_mapping from being saved:</h2>

      <ul>
      <% agency_care_home_mapping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :care_home_id %>
    <%= f.number_field :care_home_id %>
  </div>

  <div class="field">
    <%= f.label :agency_id %>
    <%= f.number_field :agency_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
