<p id="notice"><%= notice %></p>

<h1>Agency Care Home Mappings</h1>

<table>
  <thead>
    <tr>
      <th>Agency</th>
      <th>Care home</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agency_care_home_mappings.each do |agency_care_home_mapping| %>
      <tr>
        <td><%= agency_care_home_mapping.agency %></td>
        <td><%= agency_care_home_mapping.care_home %></td>
        <td><%= link_to 'Show', agency_care_home_mapping %></td>
        <td><%= link_to 'Edit', edit_agency_care_home_mapping_path(agency_care_home_mapping) %></td>
        <td><%= link_to 'Destroy', agency_care_home_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agency Care Home Mapping', new_agency_care_home_mapping_path %>
