<p id="notice"><%= notice %></p>

<p>
  <strong>Care home:</strong>
  <%= @agency_care_home_mapping.care_home_id %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @agency_care_home_mapping.agency_id %>
</p>

<%= link_to 'Edit', edit_agency_care_home_mapping_path(@agency_care_home_mapping) %> |
<%= link_to 'Back', agency_care_home_mappings_path %>
